body, html {
    margin: auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    max-width: 1920px;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}

nav.black {
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    padding: 10px 100px;
}

nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 28px;
    font-weight: bold;
    font-weight: 900;
    transition: 3s;
}

nav.black .logo {
    color: #fff;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    color: #151515;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    transition: .3s;
}

nav.black ul li a {
    color: #fff;
}

nav ul li a:focus {
    outline: none;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
}

nav.black ul li a:hover {
    color: rgb(255, 255, 255);
}

/*burger_______________________________________*/
#hamburger {
    display: none;
}

/*_____________________________________________________________________________*/
video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -100;
}

@media (max-aspect-ratio: 16/9) {
    video {
        width: auto;
        height: 100%;
    }
}

header {
    height: 100vh;
    position: relative;
}

.head-title {
    font-family: 'Kaushan Script', cursive;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 70px;
    color: rgb(255, 255, 255);
}
/*scroll button*/



/* ABOUT */
.about {
    width: 100%;
    min-height: 100vh;
}

.about-main {
    width: 50%;
    height: 100vh;
    float: left;
    background-color: rgb(212, 212, 212);
}

.text-about {
    margin: 5% 10%;
    display: block;
}

.stanislav-personal-photo {
    margin-bottom: 20px;
}

#title-information {
    color: rgb(83, 27, 1);
    font-size: 30px;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-weight: bold;
}

#title-information-subject {
    color: rgb(83, 27, 1);
    font-size: 30px;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-weight: bold;
}

#more-about {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    font-weight: 900;
    margin-top: -10px;
}

#more-about-subject {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    font-weight: 900;
    margin-top: -10px;
}

.paragraph {
    color: rgb(65, 65, 65);
    font-size: 14px;
    text-decoration: none;
    margin-top: -10px;
    color: black;
}

.about-button {
    background-color: rgb(59, 59, 59);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.about-button:hover {
    background-color: rgb(102, 102, 102);
}

.subject {
    width: 50%;
    height: 100vh;
    float: right;
    background-color: rgb(255, 255, 255);
}

.text-why {
    margin: 5% 10%;
    display: block;
}

.why {
    width: 100%;
    height: 135px;
    display: block;
    color: black;
}

.icon {
    width: 6%;
    float: left;
}

.icon img {
    max-height: 20px;
    max-width: 20px;
    margin: 0;
}

.description {
    width: 90%;
    margin-top: 0;
    float: right;
    height: 135px;
}

.description-text {
    text-align: left;
    font-size: 20px;
    color: rgb(0, 0, 0);
    width: 100%;
    font-weight: bold;
}

/* parallax */
.parallax {
    background-image: url("parallax/road.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* blog */
.blog {
    width: 100%;
    background-color: #151515;
}

.blog_section {
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.blog_1 {
    width: 320px;
    height: 380px;
    background-color: rgb(212, 212, 212);
    text-align: center;
}

.blog_1 img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.blog_2 {
    width: 320px;
    height: 380px;
    background-color: rgb(212, 212, 212);
    text-align: center;
}

.blog_2 img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.blog_3 {
    width: 320px;
    height: 380px;
    background-color: rgb(212, 212, 212);
    text-align: center;
}

.blog_3 img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.blog_4 {
    width: 320px;
    height: 380px;
    background-color: rgb(212, 212, 212);
    text-align: center;
}

.blog_4 img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.blog_5 {
    width: 320px;
    height: 380px;
    background-color: rgb(212, 212, 212);
    text-align: center;
}

.blog_5 img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.blog_6 {
    width: 320px;
    height: 380px;
    background-color: rgb(212, 212, 212);
    text-align: center;
}

.blog_6 img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.blog_1:hover {
    box-shadow: 0 0 20px rgb(212, 212, 212);
    cursor: pointer;
}

.blog_2:hover {
    box-shadow: 0 0 20px rgb(212, 212, 212);
    cursor: pointer;
}

.blog_3:hover {
    box-shadow: 0 0 20px rgb(212, 212, 212);
    cursor: pointer;
}

.blog_4:hover {
    box-shadow: 0 0 20px rgb(212, 212, 212);
    cursor: pointer;
}

.blog_5:hover {
    box-shadow: 0 0 20px rgb(212, 212, 212);
    cursor: pointer;
}

.blog_6:hover {
    box-shadow: 0 0 20px rgb(212, 212, 212);
    cursor: pointer;
}

/* parallax */
.parallax2 {
    background-image: url("parallax/desert.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*gallery*/
.gallery {
    width: 100%;
    min-height: 400px;
    background-color: rgb(56, 56, 56);
}

.wrap {
    overflow: hidden;
    margin: 0 auto;
}

.box {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 20%;
}

.boxInner {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}

.boxInner img {
    width: 100%;
}

.boxInner .titleBox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -50px;
    background: #fff;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.gallery-wrapper .boxInner:hover .titleBox, .touch .boxInner.touchFocus .titleBox {
    margin-bottom: 0;
}

/*contact*/
.contact {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    background-color: #151515;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form h2 {
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

.form {
    width: 30em;
    margin: 3%;
    padding: 1.5em 0;
}

form p {
    margin-bottom: 1.5em;
}

input[type=text], input[type=email], textarea {
    width: 90%;
    line-height: 1.5em;
    font-family: inherit;
    border: none;
    color: #121212;
    background: #d4d4d4;
    overflow: auto;
    resize: none;
    padding-top: 0.75em;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0.75em;
    border: 1px solid black;
}

input[type=text], input[type=email], input[type=url], input[type=password] {
    height: 1.5em;
}

textarea {
    height: 6em;
    vertical-align: top;
}

input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, textarea:focus {
    outline: 0;
    border: 1px solid black;
}

input[type=submit] {
    border: none;
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: inherit;
    line-height: 1.5em;
    font-size: inherit;
    cursor: pointer;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    color: #151515;
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    border: 1px solid #151515;
}

input[type=submit]:hover {
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    color: white;
    background: rgb(83, 27, 1);
}

/* parallax */
.parallax3 {
    background-image: url("parallax/adventure.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*footer*/
.end-of-site {
    width: 100%;
    min-height: 180px;
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.end-of-site-home {
    height: 100%;
    width: 320px;
    color: white;
    text-align: center;
}

.end-of-site-home h3 {
    text-decoration: underline;
}

.end-of-site-office {
    height: 100%;
    width: 320px;
    color: white;
    text-align: center;
}

.end-of-site-office h3 {
    text-decoration: underline;
}

.end-of-site-icons {
    width: 100%;
    height: 60px;
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
}

.end-of-site-icons img {
    margin-right: 10px;
    margin-left: 10px;
}
