body, html{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;

}

nav.black{
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    padding: 10px 100px;
}

nav .logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 28px;
    font-weight: bold;
    font-weight: 1500;
    transition: 3s;
}


nav.black .logo{
    color: #fff;

}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 20px;

}

nav ul li{
    list-style: none;

}

nav ul li a{
    line-height: 80px;
    color: #151515;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    transition: .3s;
}

nav.black ul li a {
    color: #fff;

}

nav ul li a:focus {
    outline: none;
}

nav ul li a:hover{
    color: red;
}


nav.black ul li a:hover{
    color: red;
}







video{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -100;
}

@media (max-aspect-ratio: 16/9){
    video{
        width: auto;
        height: 100%;
    }
}

header{
    height: 100vh;
    position: relative; 
}


.head-title{
    font-family: 'Kaushan Script', cursive;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    position: absolute;
    font-size: 70px;
    color:rgb(255, 255, 255);
}

/* ABOUT */


.about{
    width: 100%;
    height: 100vh;
    
}
.about-main {
    width: 50%;
    height: 100vh;
    float: left;
    background-color: rgb(212, 212, 212);
    font-size: 25px;  
  }


.text-about{
    margin: 5% 10%;
    display: block;
    
}


#about-title{
    color: rgb(83, 27, 1);
    font-size: 30px;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-weight: bold;
}

#about-more{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration: none;
    letter-spacing: none;
    font-weight: bold;
    font-weight: 1500;
    margin-top: -10px;
}


#about-paragraph-first, 
#about-paragraph-second, 
#about-paragraph-third, 
#about-paragraph-forth{
    color: rgb(65, 65, 65);
    font-size: 1rem;
    text-decoration: none;
    letter-spacing: none;
    font-weight: 1500;
    margin-top: -10px;
    
}

.about-button {
    background-color: rgb(59, 59, 59);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.about-button:hover {
    background-color: rgb(102, 102, 102);
}


.subject{
    width: 50%;
    height: 100vh;
    float: right;
    background-color: rgb(255, 255, 255);
    
}


.text-why{
    margin: 5% 10%;
    display: block;
}


.why{
    width: 100%;
    height: 135px;
    display: block;
    color:black;
    
}


.icon{
width: 6%;
float: left;

}

.icon img {
    max-height: 20px;
    max-width: 20px;
    margin: 0;
}

.description {
   
    width: 90%;
    margin-top: 0;
    float: right;
    height: 135px;
  
}


.description-text {
    text-align:left;
    font-size: 20px;
    color: rgb(0, 0, 0);
    width:100%;
    margin: 0;
    font-weight: bold;

}


/* parallax */


.parallax {
    background-image: url("parallax/road.jpg");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* blog */

.blog{
  width: 100%;
  min-height: 100vh;
  background-color: #151515;
 
}

.blog_section{
   padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; 

}

.blog_1{
    width: 320px;
    height: 380px;
    background-color: rgb(212, 212, 212);
    text-align: center;
}


.blog_1 img{
    width: 100%;
    height: 200px;
}


.blog_2{
    width: 320px;
    height: 380px;
    background-color: rgb(212, 212, 212);
    text-align: center;
}


.blog_2 img{
    width: 100%;
    height: 200px;
}


.blog_3{
    width: 320px;
    height: 380px;
    background-color: rgb(212, 212, 212);
    text-align: center;
}


.blog_3 img{
    width: 100%;
    height: 200px;
}


.blog_4{
    width: 320px;
    height: 380px;
    background-color: rgb(212, 212, 212);
    text-align: center;
}


.blog_4 img{
    width: 100%;
    height: 200px;
}


.blog_5{
    width: 320px;
    height: 380px;
    background-color: rgb(212, 212, 212);
    text-align: center;
}


.blog_5 img{
    width: 100%;
    height: 200px;
}


.blog_6{
    width: 320px;
    height: 380px;
    background-color: rgb(212, 212, 212);
    text-align: center;
}


.blog_6 img{
    width: 100%;
    height: 200px;
}


.blog_1:hover{
    box-shadow: inset 0 0 20px #000000;
    cursor: pointer;
}


.blog_2:hover{
    box-shadow: inset 0 0 20px #000000;
    cursor: pointer;
}


.blog_3:hover{
    box-shadow: inset 0 0 20px #000000;
    cursor: pointer;
}


.blog_4:hover{
    box-shadow: inset 0 0 20px #000000;
    cursor: pointer;
}


.blog_5:hover{
    box-shadow: inset 0 0 20px #000000;
    cursor: pointer;
}


.blog_6:hover{
    box-shadow: inset 0 0 20px #000000;
    cursor: pointer;
}



  /* parallax */


.parallax2 {
    background-image: url("parallax/sun.jpg");
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/*gallery*/

.gallery{
    width: 100%;
    height: 50vh;
    background-color: aqua;
}

/*contact*/
