@media only screen and (max-width: 1000px){
    

    .head-title{
        font-size: 30px;
    }

    header{
        background-image: linear-gradient(132deg, #ec5218,  black);
    
    }

}


@media only screen and (max-width: 1200px){
    
.blog{
    margin: 0;
   
  }

    .blog_section{
         display: flex;
         flex-wrap: wrap;
         margin: 20px;
         padding: 0;
         
     
     }

     .blog_1, .blog_2, .blog_3, .blog_4, .blog_5, .blog_6{
        margin: 20px;
     }
}


/*gallery*/
@media only screen and (max-width : 480px) {
    /* Smartphone view: 1 tile */
    .box {
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @media only screen and (max-width : 650px) and (min-width : 481px) {
    /* Tablet view: 2 tiles */
    .box {
      width: 50%;
      padding-bottom: 50%;
    }
  }
  @media only screen and (max-width : 1050px) and (min-width : 651px) {
    /* Small desktop / ipad view: 3 tiles */
    .box {
      width: 33.3%;
      padding-bottom: 33.3%;
    }
  }
  @media only screen and (max-width : 1290px) and (min-width : 1051px) {
    /* Medium desktop: 4 tiles */
    .box {
      width: 25%;
      padding-bottom: 25%;
    }
  }

     



