@media only screen and (max-width: 1000px){
    

    .head-title{
        font-size: 30px;
    }

    header{
        background-image: linear-gradient(132deg, #ec5218,  black);
    
    }

}

/*@media(min-width: 2500px){


    #about-title{
        font-size: 40px;
    }


    #about-more{
 
        font-size: 35px;
    }

    #about-paragraph-first,
#about-paragraph-second,
#about-paragraph-third,
#about-paragraph-forth{
    font-size: 35px;
}


.about-button {
    padding: 25px 52px;
      font-size: 26px;
  
  }

  
.description-text {
    font-size: 40px;
}

.why-information{
    font-size: 35px;
}
.description {
 
    height: 270px;
  
}

.why{

    height: 280px;
 
    
}
    }



@media only screen and (max-width: 2500px){


#about-title{
    font-size: 40px;

}
    
#about-more{
 
    font-size: 35px;
}

#about-paragraph-first,
#about-paragraph-second,
#about-paragraph-third,
#about-paragraph-forth{
    font-size: 35px;
}


.about-button {
  padding: 25px 52px;
    font-size: 26px;

}

.description-text {
    font-size: 40px;
}

.why-information{
    font-size: 35px;
}
.description {
 
    height: 280px;
  
}
.why{

    height: 280px;
 
    
}


}

@media only screen and (max-width: 2000px){


    #about-title{
        font-size: 35px;
    
    }

    
.text-about{
    margin: 7% 10%;
  
    
}

.text-why{
    margin: 7% 10%;
   
}
        
    #about-more{
     
        font-size: 40px;
    }
    
    #about-paragraph-first,
    #about-paragraph-second,
    #about-paragraph-third,
    #about-paragraph-forth{
        font-size: 20px;
    }
    
    
    .about-button {
      padding: 20px 45px;
        font-size: 20px;
    
    }
    
    .description-text {
        font-size: 35px;
    }
    
    .why-information{
        font-size: 20px;
    }
    .description {
     
        height: 300px;
      
    }
    .why{
    
        height: 300px;
     
        
    }
    
    
    }


    @media only screen and (max-width: 1700px){


        #about-title{
            font-size: 30px;
        
        }

        .text-about{
            margin: 7% 10%;
          
            
        }
        
        .text-why{
            margin: 7% 10%;
           
        }
            
        #about-more{
         
            font-size: 35px;
        }
        
        #about-paragraph-first,
        #about-paragraph-second,
        #about-paragraph-third,
        #about-paragraph-forth{
            font-size: 38px;
        }
        
        
        .about-button {
          padding: 25px 44px;
            font-size: 20px;
        
        }
        
        .description-text {
            font-size: 30px;
        }
        
        .why-information{
            font-size: 30px;
        }
        .description {
         
            height: 320px;
          
        }
        .why{
        
            height: 320px;
         
            
        }
        
        
        }


        
    /*@media only screen and (max-width: 1700px){


        #about-title{
            font-size: 30px;
        
        }

        .text-about{
            margin: 7% 10%;
          
            
        }
        
        .text-why{
            margin: 7% 10%;
           
        }
            
        #about-more{
         
            font-size: 35px;
        }
        
        #about-paragraph-first,
        #about-paragraph-second,
        #about-paragraph-third,
        #about-paragraph-forth{
            font-size: 33px;
        }
        
        
        .about-button {
          padding: 25px 44px;
            font-size: 20px;
        
        }
        
        .description-text {
            font-size: 30px;
        }
        
        .why-information{
            font-size: 30px;
        }
        .description {
         
            height: 330px;
          
        }
        .why{
        
            height: 330px;
         
            
        }
        
        
        }

        @media only screen and (max-width: 1250px){


            #about-title{
                font-size: 35px;
            
            }
            .text-about{
                margin: 7% 10%;
              
                
            }
            
            .text-why{
                margin: 7% 10%;
               
            }
            #about-more{
             
                font-size: 35px;
            }
            
            #about-paragraph-first,
            #about-paragraph-second,
            #about-paragraph-third,
            #about-paragraph-forth{
                font-size: 27px;
            }
            
            
            .about-button {
              padding: 25px 44px;
                font-size: 20px;
            
            }
            
            .description-text {
                font-size: 30px;
            }
            
            .why-information{
                font-size: 27px;
            }
            .description {
             
                height: 320px;
              
            }
            .why{
            
                height: 320px;
             
                
            }
            
            
            }


            
        @media only screen and (max-width: 1010px){


            #about-title{
                font-size: 35px;
            
            }
   }
            #about-more{
             
                font-size: 35px;
            }
            
            #about-paragraph-first,
            #about-paragraph-second,
            #about-paragraph-third,
            #about-paragraph-forth{
                font-size: 23px;
            }
            
            
            .about-button {
              padding: 25px 44px;
                font-size: 20px;
            
            }
            
            .description-text {
                font-size: 30px;
            }
            
            .why-information{
                font-size: 23px;
            }
            .description {
             
                height: 280px;
              
            }
            .why{
            
                height: 280px;
             
                
            }
            
            
            }






 